a {
    color: #8c8484;
}

a:hover {
    color: #A6A2A2;
}

#txt-footer{
    padding-top:100px;
    padding-bottom:100px;
    text-align:center;
    background-color:#847577;
    margin-bottom: 0px;
}

.article{
    padding: 40px 0px;
    border-bottom: 1px dotted;
}

h2.article-title {
    background-color: #a6a2a266;
    padding: 22px;
    cursor: pointer;
}

.arrow-icon {
    float:right;
}

.article-date {
    font-style: italic;
}

.navbar-nav{
    font-size: 30px;
}

.img-screenshot{
    border-radius: 0px;
	padding-top:10px;
	padding-bottom:20px;
}

.bg-topnav{
    background-color: #847577;
}

.sect{
    padding: 30px;
    min-height: auto;
    border-style: solid;
    border-color: #4c4344;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

footer {
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: #4c4344;
}

#unsinister-navbar {
    border-bottom-style: solid;
    border-color: #4c4344;
}

#welcome{
    background-color:#A6A2A2;
    padding-top: 58px;
}
#news{
    background-color:#CFD2CD;
}
#games{
    background-color:#A6A2A2;
}

.sect-title{
    padding-bottom: 25px;
    margin-bottom: 25px;
    border-bottom-style: dashed;
    border-bottom-width: 1px;
}

.game-img {
    margin-bottom:30px;
}

.img-large{
    width:100%;
}

.img-medium{
    width:40%;
}

.img-text{
    padding-top: 22px;
    text-align: center;
}

#about{
    background-color:#CFD2CD;
}
#contact{
    background-color:#A6A2A2;
}

.bg-card{
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-left: 6px dotted #CFD2CD;
    margin-left: auto;
    width: 50%;
}

.card-0{
    border-left:0px;
    height: 50px;
}
.card-1{
    height:200px;
}

#bg-all {
    background-image: url("./bgs/2.png");
    background-color: black;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.list li {
    padding-top: 10px;
    list-style: upper-roman;
}

ul.list {
    margin-left: 72px;
    margin-right: 72px;
}

@media screen and (max-width: 991px) {
    .sect {
        width:100%;
        border-radius:0px;
    }
}

@media screen and (max-width: 500px) {
    .img-medium{
        width:75%;
    }

    .card-0 {
        height: 0px;
    }
}

@media screen and (max-width: 382px) {
    #title img{
        height:32px;
    }
}

@media screen and (max-width: 375px) {
    #logo img{
        width: 174px;
    }
}
