:root { 
    --col-1: #9FF9CE;
    --col-2: #3B6B86;
    --col-3: #273A61;
    --col-4: #F67629;
    --col-5: #85E3F6;
    --col-6: #000000;

    --a: var(--col-1);
    --a-hover: var(--col-2);
    --nav-bg: var(--col-3);
    --nav-txt: var(--col-1);
    --nav-border: var(--col-4);
    --article-title: var(--col-4);
    --sect-bg-1: var(--col-3);
    --sect-bg-2: var(--col-3);
    --txt: var(--col-1);
    --titles: var(--col-4);
}

p, li, h3, h4 {
    color: var(--txt);
    font-family: 'Fira Sans', sans-serif;
} 

.text-center {
    color: var(--txt);
}

a {
    color: var(--a);
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--nav-txt);
    font-family: 'Caveat Brush', cursive;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: var(--col-4);
}

.navbar-dark .navbar-nav .nav-link:active {
    color: var(--col-4);
}

.navbar-dark .navbar-nav .nav-link:focus {
    color: var(--col-4);
}

a:hover {
    color: var(--a-hover);
}

#txt-footer{
    color: var(--a);
    padding-top:100px;
    padding-bottom:100px;
    text-align:center;
    background-color: var(--nav-bg);
    margin-bottom: 0px;
}

.article{
    padding: 40px 0px;
    border-bottom: 1px dotted;
}

h2.article-title {
    background-color: var(--article-title);
    padding: 22px;
    cursor: pointer;
}

.arrow-icon {
    float:right;
}

.article-date {
    font-style: italic;
}

.navbar-nav{
    font-size: 30px;
}

.img-screenshot{
    border-radius: 0px;
	padding-top:10px;
	padding-bottom:20px;
}

.bg-topnav{
    background-color: var(--nav-bg);
}

.highlight {
    background: url(./imgs/brush.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 40% 100%;
    padding: 8px 0;
}

.sect {
    padding: 30px;
    min-height: auto;
    width: 1240px;
    margin-left: auto;
    margin-right: auto;
    transform: skew(-5deg);
    border-color: var(--col-2);
    border-width: 2px;
    border-style: solid;
    background-image: linear-gradient(to bottom right, var(--col-6), 25%, var(--col-3));
    overflow: hidden;
}

.sect-inner {
    transform: skew(5deg);
}

footer {
    border-bottom-style: solid;
    border-top-style: solid;
    border-color: var(--nav-border);
}

#unsinister-navbar {
    border-bottom-style: solid;
    border-color: var(--nav-border);
}

#welcome{
    background-color: var(--sect-bg-1);
    padding-top: 58px;
}

#showcase{
    background-color: var(--sect-bg-2);
}

.sect-title{
    font-family: 'Caveat Brush', cursive;
    color: var(--titles);
    padding-bottom: 25px;
    margin-bottom: 25px;
}

.game-img {
    margin-bottom:30px;
}

.img-large{
    width:100%;
}

.img-medium{
    width:40%;
}

.img-text{
    padding-top: 22px;
    text-align: center;
}

.modal.show .modal-dialog {
    display: table;
}

#imagepreview {
    max-width: 960px;
}

#about{
    background-color:var(--sect-bg-2);
}
#games{
    background-color:var(--sect-bg-1);
}
#contact{
    background-color:var(--sect-bg-2);
}

.bg-card{
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-left: 6px dashed var(--col-1);
    margin-left: auto;
    width: 50%;
}

.card-0{
    border-left:0px;
    height: 50px;
}
.card-1{
    height:220px;
}

#bg-all {
    background-color: black;
    background-attachment: fixed;

    background-image: linear-gradient(to bottom, var(--col-6), 90%, var(--col-5));
}

.list li {
    padding-top: 10px;
    list-style: none;
}

.list li .fa {
    margin-left: 28px;
    margin-right: 28px;
}

ul.list {
    margin-left: 72px;
    margin-right: 72px;
}

/*
IMAGE SHOWCASE
*/
.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

.no-padding {
    padding: 0;
}

.no-margin {
    margin: 0;
}

.space {
    padding-top:5px;
    padding-bottom:5px;
}

article {
    position: relative;
}

.article-img {
    width: 100%;
    max-width: 800px;
    object-fit: cover;
    
    border-color: var(--col-4);
    border-width: 1px;
    border-style: dashed;
}

.collage-img {
    height: 100%;
    width: 100%;
    max-width: 800px;
    object-fit: cover;
    
    border-color: var(--col-4);
    border-width: 1px;
    border-style: dashed; 
}

#logo img{
    width: 40%;
}

@media screen and (max-width: 1200px) {
    .sect {
        width: 1000px;
        transform:skew(0deg);
    }
    .sect-inner {
        transform:skew(0deg);
    }
}

@media screen and (max-width: 991px) {
    .sect {
        width:100%;
        border-radius:0px;
        transform:skew(0deg);
    }

    .sect-inner {
        transform:skew(0deg);
    }
}

@media screen and (max-width: 500px) {

    #logo img {
        width: 60%;
    }

    .img-medium{
        width:75%;
    }

    .card-0 {
        height: 0px;
    }
}

@media screen and (max-width: 382px) {
    #title img{
        height:32px;
    }
}

@media screen and (max-width: 375px) {
    #logo img{
        width: 174px;
    }
}

/*Edge*/
@supports ( -ms-accelerator:true ) 
{
    html{
        overflow: hidden;
        height: 100%;    
    }
    body{
        overflow: auto;
        height: 100%;
    }
}
/*Ie 10/11*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) 
{
    html{
        overflow: hidden;
        height: 100%;    
    }
    body{
        overflow: auto;
        height: 100%;
    }
}
